.tagCloudItem1 {
	font-size: 0.8em;
}

.tagCloudItem2 {
	font-size: 1.0em;
}

.tagCloudItem3 {
	font-size: 1.2em;
}

.tagCloudItem4 {
	font-size: 1.4em;
}

.tagCloudItem5 {
	font-size: 1.6em;
}

.tagCloudItem6 {
	font-size: 1.8em;
}