<html>
	<head>
		<script type="text/javascript" src="../js/lib/jQuery/jquery-1.3.2.js"></script>
		<script type="text/javascript">
function getUri() {
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	return hashes[0].split('=')[1];
}

jQuery("document").ready(function(){
	var img = '<img src="http://localhost:8080/KiWi/seam/resource/services/images/thumb?uri='+getUri()+'&maxHeight=200&maxWidth=200" />';
	alert(img);
	jQuery("#test").html(img);
});
		</script>
	</head>
	<body >
		<div id="test">
			Loading...
		</div>
	</body>
</html>