# @@warning@@

kiwi.version = 0.7

jboss.home = @@jboss.home@@
jboss.version = @@jboss.version@@
kiwi.home = @@kiwi.home@@
solr.home = @@solr.home@@
gate.home = @@gate.home@@

#possible values : postgresql, mysql, h2
kiwi.db=@@kiwi.database@@

facebook.appid=@@facebook.appid@@
facebook.key=@@facebook.key@@
facebook.secret=@@facebook.secret@@

