/*
 * SimpleModal Basic Modal Dialog * 
 * http://code.google.com/p/simplemodal/
 * 
 * * 
 * 
 *
 */

/* IE 6 hacks */
#simplemodal-container a.modalCloseImg {background:none; right:-14px; width:22px; height:26px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/basic/x.png',sizingMethod='scale');}